@import "utils.styl"
//@import "fonts/stylessheet.css" 

html, body
	border 0
	padding 0
	margin 0
	

.alert#search-update
	position fixed
	width 100%
	bottom 0
	margin-bottom 0
	z-index 99
	
body
	none()
	background-color #f0f0f0
	overflow-x hidden
	padding-bottom 50px
	
	main
		padding 0 !important	
		
	header
		background url(../img/header.gif) repeat-x
	
	h1
		margin 0 0 20px 0
		min-height 116px
		text-indent -9999px
		background white url(../img/header1.gif) no-repeat 10px 10px
		&:before
			block-absolute()
			dimensions(129px, 80px, url(../img/fatec.jpg))
			right 10px
			top 17px
			content ""
	.vardump
		block-relative()
		font-size 0.750em
		
	.refresh
		relative()
		margin-bottom 20px
		.btn
			position relative !important
			height 30px
			padding 10px 20px 32px 33px	
			border 0
			&:before
				block-absolute()
				dimensions(25px, 100%, url(../img/refresh-icon.png) no-repeat center)
				top 0
				left 11px
				background-size contain
				content ""
			&:hover, &:focus
				background-color white !important
				outline none
  			
	.tab-pane
		h2
			font-size 1em
			padding 16px 46px
			margin 0
			color white
			text-align center
			-webkit-translateZ(1px);
			translateZ(1px);
			&.fixed
				position fixed
				width 100%
				top 0
				z-index 9
				
				
		&#si,&#si-ead,&#ead-si
			h2
				background-color #0396d8
		&#ads,&#ads-ead,&#ead-ads
			h2
				background-color #1668b9
		&#ge,&#ge-ead,&#ead-ge
			h2
				background-color #4ea26a
		&#gp,&#gp-ead,&#ead-gp
			h2
				background-color #429a8a
		&#lo,&#lo-ead,&#ead-lo
			h2
				background-color #6e5494

	footer
		padding 10px 0
	
	.panel-title a
		display block !important
		width 100%
		line-height 20px
		padding-right 35px
		&:hover
			text-decoration none

	.nav-tabs
		margin-bottom -2px
		border 0 !important
		&.blocked
			&:before
				block-absolute()
				dimensions(100%, 50px, #f0f0f0)
				opacity .8				
				z-index 9
				content ""
		li
			border 0 !important
			a
				border 0 !important
				padding 10px 10px !important
				line-height 26px !important
				
		li, li.active
			&:hover a
				background-color transparent !important
				border 0 !important
				padding 10px 10px !important
				line-height 26px !important
		li.active
			a
				border 0 !important
				padding 10px 10px !important
				line-height 26px !important
				color white
				&:active, &:hover, &:hover
					color white
				&[href="#ads"],&[href="#ads-ead"],&[href="#ead-ads"]
					background-color #1668b9 !important
				&[href="#si"],&[href="#si-ead"],&[href="#ead-si"]
					background-color #0396d8 !important
				&[href="#ge"],&[href="#ge-ead"],&[href="#ead-ge"]
					background-color #4ea26a !important
				&[href="#gp"],&[href="#gp-ead"],&[href="#ead-gp"]
					background-color #429a8a !important
				&[href="#lo"],&[href="#lo-ead"],&[href="#ead-lo"]
					background-color #6e5494 !important
	
	tbody
		tr
			td
				bdi
					font-size 0.875em
					font-weight bold
				strong
					font-size 1.063em
					font-weight normal
				i
					color #888
					font-size 0.875em
					font-weight bold

	.panel.panel-default
		margin-bottom 6px		
	.panel-heading
		position relative
		.fav
			display block
			position absolute
			right 6px
			top 3px
			background-color #c7c7c7
			padding 3px 7px
			border-radius 20px
			span
				font-size 0.938em
				font-family Verdana;
				color white
			&.selected
				background-color #FD9E9C
				
.modal#modal-fav
	.modal-footer
		button.update
			background-color #009A56 !important
			border-color #008148 !important